<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="icon" href="{% static './assets/Jaye.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Jaye</title>
    <style>
        header{
            display: flex;
            justify-content: space-between;
        }
        a{
            text-decoration: none;
            color: black;
        }
        .btn-lime{
            color: white;
            background-color: #e9c46a; 
            padding: 8.72px 21.8px;
            border: none;
            border-radius: 5.23px;
        }
        .bg-lemon{
            background-color: #F4A261;
            color: white;
        }
    </style>
</head>
<body>
    <div class="px-3">
        <header class="mt-3">
            <div>
                <img src="../static/assets/Jaye.png" alt="Jaye Logo">
                <a href="#">Shop</a>
                <a href="#">Stories</a>
                <a href="#">About</a>
            </div>
            <div>
                <input type="search" class="form-control">
            </div>
            <div>
                <i class="bi bi-bag"></i>
                <button class="btn btn-light">Login</button>
            </div>
        </header>
        <main>
            <!-- Top Layer -->
            <div>
                 <!-- Banner Section -->
                <div>
                    <div class="d-flex justify-content-center my-2 bg-lemon">Flash Sales 50% off on all Electronic Gadgets</div>
                </div>
                <div class="HeroImgCon mb-3">
                    <img src="../static/assets/Hero.png" alt="" width="100%">
                </div>
                <div class="d-flex justify-content-between align-items-center px-2 bg-lemon mb-2">
                    <div><h3>Today's Deals</h3></div>
                    <div>See all ></div>
                </div>
            </div>
            <!-- Middle Layer -->
             <div>
                <div><img src="" alt=""></div>
             </div>
        </main>
        <footer></footer>
    </div>
</body>
</html>