<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        header{
            display: flex;
            justify-content: space-evenly;
        }
        a{
            text-decoration: none;
            color: black;
        }
        .btn-lime{
            color: white;
            background-color: #e9c46a; 
            padding: 8.72px 21.8px;
            border: none;
            border-radius: 5.23px;
        }
    </style>
</head>
<body>
    <div>
        <header>
            <div>
                <img src="../static/assets/Jaye.png" alt="Jaye Logo">
                <a href="#">Shop</a>
                <a href="#">Stories</a>
                <a href="#">About</a>
            </div>
            <div>
                <input type="search" class="form-control">
            </div>
            <div>
                <i class="bi bi-bag"></i>
                <button class="btn-lime">Login</button>
            </div>
        </header>
        <main>
            <!-- Banner Section -->
            <div>Banner Section</div>
            <div class="HeroImgCon mb-3">
                <img src="" alt="">
            </div>
        </main>
        <footer></footer>
    </div>
</body>
</html>